@import "../../variables.scss";

.App {
  text-align: center;

  &-wrapper {
    background-color: $color-azure;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-box {
    padding: 2em;
    margin-top: 2em;
    border-radius: $border-radius;
    box-shadow: $shadow;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
  }

  &-category {
    padding-right: 3em;
    flex-shrink: 0;
  }

  &-form {
    display: flex;
    align-items: flex-end;
  }

  &-results {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .App-box {
      margin-right: 2em;
    }

    .App-data {
      display: flex;
      padding-bottom: 2.5em;

      div {
        display: flex;
        flex-direction: column;
        margin: 0 1.5em;
        align-self: center;
      }
    }
  }
}
