@import "../../variables.scss";

.App {
  text-align: center;

  &-wrapper {
    background-color: $color-azure;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-box {
    padding: 1.5em;
    border-radius: $border-radius;
    box-shadow: $shadow;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
  }

  &-category {
    padding-right: 1.5em;
  }

  &-form {
    display: flex;
    align-items: center;
  }
}
