@import "../../variables.scss";

.Result {
  .App-box {
    margin-right: 2em;
  }

  &-data {
    display: flex;
    padding-bottom: 2.5em;

    div {
      display: flex;
      flex-direction: column;
      margin: 0 1.5em;
      align-self: center;
    }

    svg {
      align-self: center;
    }
  }
}
