@import "../../variables.scss";

.Form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.75em;
  font-size: inherit;
  font-weight: $font-weight-semi-bold;
  background-color: $color-royal-blue;
  color: $color-white;
  border-width: 0;
  border-radius: $border-radius;
  width: 100% !important;
  vertical-align: middle;
  font-family: inherit;
  outline: none;
  padding: 0 1em;

  &:hover {
    background-color: $color-mariner;
    cursor: pointer;
  }

  &-link {
    color: $color-royal-blue;
    cursor: pointer;
    background:none!important;
    border:none;
    padding:0!important;
    font: inherit;
    outline: none;
    width: max-content;

    &:hover {
      text-decoration: underline;
      color: $color-mariner;
    }
  }
}
