$color-azure: #FAFBFB;
$color-gulf-blue: #3A4963;
$color-catalina-blue: #1B2C4B;
$color-white: #fff;

$shadow: 0 6px 6px 0 rgba(149, 149, 149, 0.12);

$border-radius: 4px;

$font-weight-regular: 400;
$font-weight-semi-bold: 700;
