$color-azure: #FAFBFB;
$color-white: #FFF;
$color-gray80: #CCC;
$color-gulf-blue: #3A4963;
$color-catalina-blue: #1B2C4B;
$color-mariner: #3070CE;
$color-royal-blue: #3779ED;

$shadow: 0 6px 6px 0 rgba(149, 149, 149, 0.12);

$border-radius: 4px;

$font-weight-regular: 400;
$font-weight-semi-bold: 600;
